body{
    background-image:  url("https://image.freepik.com/photos-gratuite/assortiment-cafe-fond-blanc_23-2148255040.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    height: 580px;
}